<div id="event-list">
{{#each events}}
    {{#if canSee}}
     <p class="event">Name: {{name}}
           Start Date: {{startDate}}
           End Date: {{endDate}}</p>
           <a href="/events/event/{{_id}}">Go To Event</a>
    {{/if}}
{{/each}}
</div>
<br>
<div id="make_event_button">
<form action="/events/" method="POST" id="confirm_make_event">
    <button type="submit" name="confirm_make_event_button" id="confirm_make_event_button">Create an event</button>
</form>
</div>
<form action="/events/" method="POST" id="make_event_form" hidden>
    <label for = "name">
        Event Name:
        <input type="text" id="name" name = "name">
    </label>
    <br>
    <label for = "description">
        Description:
        <input type="text" id="description" name = "description" >
    </label>
    <br>
    <label>
      Start Date:
      <input type="datetime-local" name="startDate">
    </label>
    <br>
    <label>
      End Date:
      <input type="datetime-local" name="endDate">
    </label>
    <br>
    <label>
        Is Recurring?
        <input type="checkbox" id="isRecurringCheckbox" name="isRecurring" value=true>
    </label>
    <br>
    <label id="recurDateBox" hidden>
        Recur Until: 
        <input type="datetime-local" name="recurUntil">
    </label>
    <br>
    <label>
        Is Private?
        <input type="checkbox" name="isPrivate" value=true>
    </label>
    <br>
    <label>
        <button type="submit" name="submit_button" id="submit_button">Book Room</button>
    </label>
    <br>
</form>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
crossorigin="anonymous"></script>
<script src="../public/js/ajax.js"></script>