<h1>Rankine</h1>
<p>
    Hello {{username}}, welcome to Rankine!
    Our website helps you find and create campus events.
</p>

{{!-- <form action="/" method="POST" class="new-event-search">
    <label for = "searchByEvents">
        Search By Events
        <input type="text" name="searchByEvents" id="searchByTitle" class="full-width-input">
    </label>
    <label for = "submit_button">
        Button:
        <button name="submit_button" id="submit_button" type="submit">Submit</button>
    </label>
</form> --}}
