<p id = "error" class="error">{{error}}</p>
<form action="/users/signinuser" method="POST" id="signin-form">
    <label  for = "username">
        Username:
        <input type="text" id="username" name = "username">
    </label>
    <br>
    <label for = "password">
        Password:
        <input type="password" id="password" name = "password" >
    </label>
    <br>
    <br>
    <label for = "submit_button">
        Button:
        <button name="submit_button" id="submit_button" type="submit">Submit</button>
    </label>
    <br>
</form>
<a href = "/users/signupuser">Click here to signup!</a>