<form action="/rooms/" method="POST" id="create-room-form">
    <label for = "building">
        Building
        <input type="text" id="building" name = "building">
    </label>
    <br>
    <label for = "roomNumber">
        Room #:
        <input type="text" id="roomNumber" name = "roomNumber" >
    </label>
    <br>
    <label for="roomCapacity">
        Max Capacity:
        <input type="number" id="roomCapacity" name = "roomCapacity" >
    </label>
    <br>
    <!-- AJAX calls: 
    When checkbox is checked, set endRecurring to visible
    When adding another time, add another unavailable instance to unavailable container, with deleteInstance not hidden-->
    <label for="unavailable-container">Unavailable Times</label>
    <div id="unavailable-container">
    <div class="unavailable-instance">
      <label>
        Start Date:
        <input type="datetime-local" name="startDate">
      </label>
      <br>
      <label>
        End Date:
        <input type="datetime-local" name="endDate">
      </label>
      <br>
      <label>
        <input type="checkbox" name="isRecurring" id="isRecurring">
        Is Recurring
      </label>
      <br>
      <label class="endRecurring" hidden>
        End Recurring:
        <input type="datetime-local" name="endRecurring">
      </label>
      <br>
      <button type="button" id="addInstance">Add Another Time</button>
      <button type="button" id="deleteInstance" hidden>Delete</button>
    </div>
  </div>
  <button name="roomCreateButton" id="roomCreateButton" type="submit">Submit</button>
  
</form>

