{{!--   userData.username,
        userData.userPassword,
        userData.firstName,
        userData.lastName,
        userData.permissions,
        userData.beingGranted,
        userData.usersApproving,
        userData.notifications --}}
<p id = "error" class="error">{{error}}</p>
<form action="/users/signupuser" method="POST" id="signup-form">
    <label for = "firstName">
        First Name:
        <input type="text" id="firstName" name = "firstName">
    </label>
    <br>
    <label for = "lastName">
        Last Name:
        <input type="text" id="lastName" name = "lastName" >
    </label>
    <br>
    <label for="username">
        Username:
        <input type="text" id="username" name = "username" >
    </label>
    <br>
    <label for="password">
        Password:
        <input type="password" id="userPassword" name = "userPassword" >
    </label>
    <br>
    <label for="confirmPassword">
        Confirm Password:
        <input type="password" id="confirmPassword" name = "confirmPassword" >
    </label>
    <br>
    <label for = "submit_button">
        <button name="submit_button" id="submit_button" type="submit">Submit</button>
    </label>
    <br>
</form>
<a href="/users/signinuser">Go to Login Page</a>