{{#each users}}
    <p class="user">
        Username:{{username}}
        <br>
        First Name: {{firstName}}
        <br>
        Last Name: {{lastName}}
        <br>
        <a href="/users/user/{{_id}}">Manage User's Permissions</a>
    </p>
{{/each}}